@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabinet Grotesk Variable";
  src: url("./assets/fonts/Cabinet-Grotesk-Variable/Cabinet-Grotesk-Variable.woff2") format("woff2"),
    url("./assets/fonts/Cabinet-Grotesk-Variable/Cabinet-Grotesk-Variable.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/Cabinet-Grotesk/Cabinet-Grotesk-Regular.woff2") format("woff2"),
    url("./assets/fonts/Cabinet-Grotesk/Cabinet-Grotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .container {
    @apply max-w-[1184px] mx-auto px-4;
  }

  .article-tags {
    @apply py-2 px-3 text-white bg-white/20 rounded-md;
  }

  .form-login-input {
    @apply block w-full rounded-md bg-black/10 px-3 py-1.5 text-base border-black/15 border-2 focus-visible:outline-0;
  }

  .error-msg-login-form {
    @apply text-red-600 font-bold text-sm pt-1;
  }
}
